$font-color: #f4f4f4;
$button1-color: #0e6cff;
$button2-color: #ff8700;
$button3-color: #4caf50;
$bghero-color: #640fc5;
$main-color: cyan;
$secondary-color: palegreen;
$body-color: rgb(28, 27, 29);
$bgnav-color: rgb(161, 220, 211);