$margin-0: 0;
$margin-1: 0.25rem;
$margin-2: 0.5rem;
$margin-3: 1rem;
$margin-4: 2rem;
$margin-5: 3rem;
$margin-b: block;
$margin-i: inline;
$margin-ib: inline-block;
$padding-0: 0;
$padding-1: 0.25rem;
$padding-2: 0.5rem;
$padding-3: 1rem;
$padding-4: 2rem;
$padding-5: 3rem;
$padding-b: block;
$padding-i: inline;
$padding-ib: inline-block;